[Unit]
Description=Clear LCD on shutdown
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/bin/sh -c 'cat /dev/zero > /dev/fb0 2>/dev/null'

[Install]
WantedBy=multi-user.target
