[Unit]
Description=Start smbd after Wi-Fi and TTY login
After=network-online.target
Wants=network-online.target
ConditionUser=admin
ConditionPathExists=/dev/tty1

[Service]
Type=oneshot
ExecStart=/usr/local/bin/smbd-postlogin.sh

[Install]
WantedBy=multi-user.target
